VITE_SUPABASE_URL=https://gghhlplmzadihbaaogqs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdnaGhscGxtemFkaWhiYWFvZ3FzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA3MzI1ODEsImV4cCI6MjA4NjMwODU4MX0.tZzX5DtqAVFhg9gnO5p65Ec8Ram0u63Hi_rhNgr11x4

